.search {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 400px;
}

.search-form {
    display: flex;
    gap: 30px;
    align-items: center;
}
