.book-card {
    width: 250px;
    border: 1px solid #E7D6AC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.card-title {
    font-weight: 600;
}
.card-info p {
    text-decoration: underline;
}

.card-img img {
    width: 100%;
    height: 250px;
}